@import url('https://fonts.googleapis.com/css?family=Orbitron');
.simon{
    background-color: #16a085;
    height: auto;
    width: 100%;
    padding: 100px 50px;
    color: black;
} 
hr {
    width: 60%;
    border: none;
    height: 2px;
    background-color: #111; /* Modern Browsers */
    margin-top: -6px;
}
h1{
    font-size: 300%;
}
h3{
    font-size: 200%;
    margin-top: -10px;
    margin-bottom: 40px;
}
#one, #two, #three, #four {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0px20px;
}
.dark1 {
    background-color: #10b958;
}

.light1 {
    background-color: #13FF75;
}

.dark2 {
    background-color: #c61611;
}

.light2 {
    background-color: #ff1c15;
}


.dark3 {
    background-color: #ffcc00;
}

.light3 {
    background-color: #ffff00;
}

.dark4 {
    background-color: #0033cc;
}

.light4 {
    background-color: #000099;
}
#count{
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}
footer{
    background-color: black;
}
h2{
    height: auto;
    padding: 20px;
    color: black;
    font-size: 20px;
    font-weight: 100;
    color: rgb(52, 73, 94);
}
span{
    font-size: 30px;
    font-weight: 400;
    color: rgb(192, 57, 43);
}
.bt {
    width: 25%;
    margin: 5px;
    background-color: black;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.3s;
}
.bt:hover{
    transform: scale(1.05,1.05);
}
a:hover, a:active, a:visited, a{
    text-decoration: none;
    color: rgb(192, 57, 43);
}

@media screen and (max-width: 500px){
    hr {
        width: 80%;
        border: none;
        height: 2px;
        background-color: #111; /* Modern Browsers */
        margin-top: -6px;
    }
    h1{
        font-size: 200%;
    }
    h3{
        font-size: 100%;
        margin-top: -12px;
        margin-bottom: 20px;
    }
    #one, #two, #three, #four {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    .bt {
        width: 50%;
        margin: 3px;
        background-color: black;
        color: white;
        font-size: 7px;
    }
    h2{
        height: auto;
        padding: 10px;
        color: black;
        font-size: 10px;
        font-weight: 100;
        color: rgb(52, 73, 94);
    }
    span{
        font-size: 18px;
        font-weight: 400;
        color: rgb(192, 57, 43);
    }
}