@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

body {
    background-color: #16a085;
    color: black;
}

.title {
    font-family: 'Delius Swash Caps', cursive;
}

#one,
#two,
#three,
#four {
    height: 10rem;
    width: 10rem;
}

.dark1 {
    background-color: #10b958;
}

.light1 {
    background-color: #13FF75;
}

.dark2 {
    background-color: #c61611;
}

.light2 {
    background-color: #ff1c15;
}

.dark3 {
    background-color: #ffcc00;
}

.light3 {
    background-color: #ffff00;
}

.dark4 {
    background-color: #0033cc;
}

.light4 {
    background-color: #000099;
}

#count {
    font-family: 'Delius Swash Caps',
    cursive;
    font-size: 30px;
}

.btnCSS {
    border: none;
    cursor: pointer;
    background-size: 150%;
    transition: 0.6s;
}

#start {
    background-image: linear-gradient(to left, #2CA58D, #84BC9C, #F679A7);
}

#on {
    background-image: linear-gradient(to left, #2CA58D, #84BC9C, #F679A7);
}

#reset {
    background-image: linear-gradient(to left, #2CA58D, #84BC9C, #F679A7);
}


#start:hover,
#on:hover,
#reset:hover {
    background-position: right;
}

/* Footer */
.sunnyKumar {
    font-family: ‘Josefin Sans’, sans-serif;
    font-size: 120%;
    font-weight: normal;
    color: black;
}

.sunnyKumar a,
.sunnyKumar a:hover,
.sunnyKumar a:active,
.sunnyKumar a:visited {
    color: #922031;
    text-decoration: none !important;
    outline: none !important;
}

.social-buttons a {
    display: inline-flex;
    text-decoration: none;
    font-size: 100%;
    width: 3rem;
    height: 3rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
}

.social-buttons a::before {
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(45deg, #0A2342, #F679A7);
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in;
}

.social-buttons a:hover::before {
    transform: scale(0);
}

.social-buttons a i {
    transition: 0.3s ease-in;
}

.social-buttons a:hover i {
    background: linear-gradient(45deg, #0A2342, #F679A7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(2.2);
}